/*---- BASIC SETUP ----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---- REUSEABLE COMPONENT ----*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 2%;
}

/*---- HEADINGS ----*/

h1,
h2 {
    font-weight: 600;
    letter-spacing: 1px;
    
}

h1 {
    margin: 0;
    color: #F3F1F2;
    font-size: 250%;
    word-spacing: 3px;
    margin-bottom: 10px;
}

h2 {
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}



h3 {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 80%;
}

h5 {
    margin-top: 10px; 
    margin-bottom: 30px;
    font-size: 75%;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #f3f1f2;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c0392b;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

/*---- PARAGRAPHS ----*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 75%;
    line-height: 145%;
}

/*---- ICONS ----*/
.icon-big {
    margin-top: 30px;
    font-size: 300%;
    display: block;
    color: #c0392b;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #c0392b;
    font-size: 100%;
    line-height: 100%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 10px;
}

/*---- BUTTONS ----*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #c0392b;
    color: #f3f1f2;
    border: 2px solid #c0392b;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #c0392b;
    color: #c0392b;
}

.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #6d2018;

}

.btn-full:hover,
.btn-full:active {
    border: 2px solid #6d2018;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #6d2018;
    color: #f3f1f2;
}

/*---- HEADER ----*/

header {
    background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(./img/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#stronger {
    color: #c0392b;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: -10px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    font-weight: 500;
}

.main-nav li {
    display: inline-block;
    margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #f3f1f2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-buttom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #c0392b;
    color: #c0392b;
    transition: 0.3s;
} 

/*---- WORKOUTS ----*/
.section-workout {
    padding: 0;
}

.workout-showcase {
    list-style: none;
    width: 100%;
}

.workout-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.workout-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #c0392b;
}

.workout-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.workout-photo img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/*---- HOW IT WORKS ----*/

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    padding: 3%;
    margin-top: 70px;

}

.app-screen {
    width: 140%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #c0392b;
    border: 2px solid #c0392b;
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 10px;
    float: left;
    font-size: 130%;
    margin-right: 30px;
}

/*---- TESTIMONIALS ----*/
.section-testimonials {
    background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-cus.jpg);
    background-size: cover;
    color: #f3f1f2;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote::before {
    content: "\201C";
    font-size: 450%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}


cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}


cite img {
    height: 55px;
    margin-right: 10px;
    vertical-align: middle;
}

/*---- PLANS ----*/
.plan-box {
    background-color: rgba(245, 222, 178, 0.5);
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 6px 6px 8px rgba(128, 128, 128, 0.35);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid gray;
}

.plan-box div:last-child {
    text-align: center;
    border: none;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 250;
    color: #c0392b;
}

.plan-price span {
    font-size: 50%;
    font-weight: 600;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
    font-style: italic;
}

.plan-box ul li {
    padding: 5px 0;
}

#main {
    font-size: 200%;
    margin-top: 5px;
    margin-bottom: 20px;
}

/*---- FORMS ----*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid grey;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px;
}

/*---- FOOTER ----*/
footer {
    background-color: wheat;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: none;
    color: #555;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.flaticon-facebook-app-symbol,
.flaticon-whatsapp,
.flaticon-twitter,
.flaticon-slack,
.flaticon-linkedin,
.flaticon-instagram,
.flaticon-google-plus {
    transition: color 0.5s;
}

.flaticon-facebook-app-symbol:hover{
    color: #3b5998;
}

.flaticon-whatsapp:hover{
    color: #25d366;
}

.flaticon-twitter:hover{
    color: #00aced;
}

.flaticon-slack:hover{
    color: #e01e5a;
}

.flaticon-linkedin:hover{
    color: #0a66c2;
}

.flaticon-instagram:hover{
    color: #c32aa3;
}

.flaticon-google-plus:hover{
    color: #ea4335;
}

footer p {
    text-align: center;
    margin-top: 20px;
}